/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* CSS Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    font-size: 1.2rem ;
}
body,
main {
    background-color: #3C4453;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

p {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    transition: 0.2s;
}

/* Padding Website */

/* Navigation */
nav {
    height: 7.5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C4453;
    /* border-bottom: 5px solid #2C323D; */
}

.nav-logo {
    padding-left: 10vw;
    height: 100%;
}

.nav-links {
    padding-right: 10vw;
}

.nav-links a {
    font-size: 1.2rem;
    padding: 10px 20px;
    color: #EBEBEB;
    text-decoration: none;
    border: 1px solid #EBEBEB;
    border-radius: 2%;
}

.nav-links a:hover {
    color: #7d98e0;
    border: 1px solid #7d98e0;
}

/* Header */
header {
    border-top:#262c39 solid 5px;
    height: 60vh;
    width: 100%;
    background-color: #3C4453;
    /* border-bottom: 2px solid white; */
}

header h1,h2 {
    color: #EBEBEB;
    margin: 0;
}

.header-opener {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5vh;
}

.header-image {
    height: 60vh;
}

/* Main */
main {
    height: 170vh;
    width: 100%;
    background-color: #3C4453;
    /* border-bottom: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: space-around;
    position: relative;
}

main p,h2 {
    font-size: 2rem;
}

.main-manual {
    gap: 10vh;
    height: 130vh;
    width: 70%;
   
}


.main-manual-one {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
    
    margin-bottom: 10vh;
}

.main-manual-text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.main-manual-text {
    height: 80%;
    width: 80%;
    text-align: center;

}

.main-manual-image-div-one {
    flex:1;
    display: flex;
    justify-content: end;
}

.main-manual-image-div-two {
    flex:1;
    display: flex;
    justify-content: start;
}

.main-manual-image {
    height: 100%;
}

.main-manual-two {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
    
}




/* Main Carousel */
.carousel {
    width: 100%;
    max-width: 100vw;
    height: 30vh;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

/* Footer */
footer {
    height: 25vh;
    width: 100%;
    background-color: #3C4453;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 5vh;
}

.footer-items {
    display: flex;
    flex-direction: row;
}

.footer-logo {
    height: 7.5vh;
    padding-left: 5vw;
}

.footer-links {
    padding-right: 5vw;
}

footer a {
    padding: 10px 20px;
    color: #EBEBEB;
    text-decoration: none;
    border-radius: 2%;
}

footer a:hover {
    color: #7d98e0;
}

footer .socials {
    height: 6vh;
    padding-top: 1.5vh;
}

.footer-socials a {
    padding: 0;
    margin: 0;
}

@media (width <=480px) {
     .nav-links {
        display: block;
        padding: 0;
    }

    .nav-links a {
        text-align: center;
        display: block;
        padding: 10px 40px;
        margin: 20px 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
        padding: 0;
    }

    img.nav-logo {
        padding-left: 0;
        height: 50%;
        width: 100%;
    }

    .header-image {
        height: 30vh;
        
    }
    
    .main-manual {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
    }
    .main-manual-one {
        width: 85vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .main-manual-one div {
        order: 1;
    }

    .manual-image {
        order: 2;
    }

    .main-manual-two {
        width: 85vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5vh 0 0 0;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-items {
        display: flex;
        flex-direction: row;
    }

    .carousel {

        margin: 0 0 0 0;
        transform: translateY(-20vh);
    }

    main {
        height: 160vh;
        background-color: #3C4453;
    }

    .main-manual-image {
        width: 60vw;
    }

    .main-manual-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-manual-image-div-one {
        display: flex;
        justify-content: center;
    }

    .main-manual-image-div-two {
        display: flex;
        justify-content: center;
    }

    .main-manual-one {
        display: flex;
        gap: 10vh;
        height: 150vh;
        padding: 0vh 0 0vh 0;
    }

    .main-manual-two {
        display: flex;
        
    }

    .main-manual-text-div {
        height: 130vh;
    }

    main {
        height: 350vh;
    }
}