@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* Resets */
body,
main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 40px 0 30px 0;
    font-size: 2rem;
}


a {
    text-decoration: none;
    color: inherit;
}

* {
  font-family: 'Outfit';
  font-size: 1.2rem;
}

body {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    color: #EBEBEB;
    
}

/* Navigation */
nav {
    height: 7.5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C4453;
    border-bottom: 1px solid #2C323D;
}

.nav-logo {
    padding-left: 10vw;
    height: 100%;
}

.nav-links {
    padding-right: 10vw;
}

.nav-links a {
    padding: 10px 20px;
    color: #EBEBEB;
    text-decoration: none;
    border: 1px solid #EBEBEB;
    border-radius: 2%;
}

.nav-links a:hover {
    color: #7d98e0;
    border: 1px solid #7d98e0;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    border: solid 5px #2C323D;
    background-color: #3C4453;
}


/* Forms */
main {
    height: 80vh;
    background-color: #3C4453;
}

form {
    width: 70%;
    height: 100%;
    margin-top: 50px;
   
}

.main-page {
    background-color: #3C4453;
    display: flex;
    justify-content: center;
    
}

.forms-top-row {
    display: flex;
    flex-direction: column;
}

input {
    height: 40px;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 0;
}

.form-down-row {
    display: flex;
    justify-content: space-between;
}

.width-100 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
}

#message {
    width: 100%;
    height: 100%;  
}

.message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30vh;  
}

input[type=submit]{
    width: 120px;
    height: 60px;
    background-color:#121317;
    color: #EBEBEB;
}


/* Footer */
footer {
    height: 30vh;
    width: 100%;
    background-color: #3C4453;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 5vh;
}

.footer-items {
    display: flex;
    flex-direction: row;
}

.footer-logo {
    height: 10vh;
    padding-left: 5vw;
}

.footer-links {
    padding-right: 5vw;
}

footer a {
    padding: 10px 20px;
    color: #EBEBEB;
    text-decoration: none;
    border-radius: 2%;
}

footer a:hover {
    color: #7d98e0;
}

footer .socials {
    height: 6vh;
    padding-top: 1.5vh;
}

.footer-socials a {
    padding: 0;
    margin: 0;
}

textarea {
    height: 90%;
    border-radius: 5px;
}

/* mobile */
@media (width <= 480px) {

    /*Navigation*/
    .nav-links {
        display: block;
        padding: 0;
    }

    .nav-links a {
        text-align: center;
        display: block;
        padding: 10px 40px;
        margin: 20px 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        padding: 0;
    }

    
    
    /* Footer */
    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
        padding: 0;
    }

    img.nav-logo {
        padding-left:0;
        height: 50%;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img.footer-logo {
        padding: 0;
    }

    
    /* Forms */
    .form-down-row {
        display: flex;
        flex-direction: column;
    }

    #date {
        width: 100%;
    }

    #email {
        width: 100%;
    }

    .submit {
        display: flex;
        justify-content: center;
    }

    main {
        height: 110vh;
    }

    .width-100 {
        width: 100%;
    }
} 